<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- SITE TITLE -->
    <title>CorecSharp </title>
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,500,600,700|Montserrat:400,700" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/fonts/font-awesome.min.css">
    <!--- owl carousel Css-->
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.css">
    <!-- venobox CSS -->
    <link rel="stylesheet" href="~/Content/venobox.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/hero-style.css"> <!-- Resource style -->
    <script src="~/scripts/modernizr.js"></script> <!-- Modernizr -->
    <!-- CSS FOR COLOR SWITCHER -->
    <link rel="stylesheet" href="~/Content/switcher/switcher.css">
    <link rel="stylesheet" href="~/Content/switcher/style1.css" id="colors">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-offset="80">
    <!-- START PRELOADER -->
    <div class="preloader">
        <div class="status">
            <div class="status-mes"></div>
        </div>
    </div>
    <!-- END PRELOADER -->
    <!-- START NAVBAR -->
    <div class="navbar navbar-default navbar-fixed-top menu-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#home" class="navbar-brand"><img src="~/img/Logo Red.png" alt="logo"></a>
            </div>
            <div class="navbar-collapse collapse">
                <nav>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#home">Home</a></li>
                        <li><a class="page-scroll" href="#about">About</a></li>
                        <li><a class="page-scroll" href="#service">Service</a></li>
                        <li><a class="page-scroll" href="#team">Team</a></li>
                        <li><a class="page-scroll" href="#pricing">Packages</a></li>
                        <li><a class="page-scroll" href="#contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div><!--- END CONTAINER -->
    </div>
    <!-- END NAVBAR -->
    <!-- START HOME DESIGN -->
    <section class="cd-hero" id="home">
        <ul class="cd-hero-slider autoplay">
            <li class="selected">
                <div class="slider-image">
                    <img src="~/img/slider/slider1.jpg" alt="">
                </div>


                <div class="cd-full-width">
                    <h2>Creative - Committed - Dedicated</h2>
                    <p>An IT Firm & Training Institute.</p>
                    <a href="#about" class="cd-btn btn-home-bg">Start With US</a>
                </div> <!-- .cd-full-width -->

            </li>
            <li>
                <div class="slider-image">
                    <img src="~/img/slider/slider2.jpg" alt="">
                </div>

                <div class="cd-half-width text-left">
                    <h2>Start Your Business with us</h2>
                    <p></p>
                    <a href="#pricing" class="cd-btn btn-home-bg">Start With US</a>
                  
                </div> <!-- .cd-half-width -->

                <div class="cd-half-width cd-img-container">
                    
                </div> <!-- .cd-half-width.cd-img-container -->

            </li>
            <li>
                <div class="slider-image">
                    <img src="~/img/slider/slider3.jpg" alt="">
                </div>


                <div class="cd-half-width cd-img-container">
                   
                </div> <!-- .cd-half-width.cd-img-container -->
                <div class="cd-half-width text-left">
                    <h2>Join With US</h2>
                    <p></p>
                    <a href="#pricing" class="cd-btn btn-home-bg">Start With US</a>
                   
                </div> <!-- .cd-half-width -->

            </li>
            <li class="cd-bg-video">

                <div class="cd-full-width">
                    <h2>Corecsharp.com</h2>
                    
                    <a href="#0" class="cd-btn btn-home-bg">Start With US</a>
                </div> <!-- .cd-full-width -->

                <div class="slider-image"></div>
                <div class="cd-bg-video-wrapper" data-video="~/img/slider/video/video">
                    <!-- video element will be loaded using jQuery -->
                </div> <!-- .cd-bg-video-wrapper -->


            </li>
        </ul> <!-- .cd-hero-slider -->
        <div class="cd-slider-nav">
            <nav>
                <span class="cd-marker item-1"></span>

                <ul>
                    <li class="selected"><a href="#0"><i class="fa fa-home"></i>Intro</a></li>
                    <li><a href="#0"><i class="fa fa-briefcase"></i>Business</a></li>
                    <li><a href="#0"><i class="fa fa-globe"></i>Connect</a></li>
                    <li><a href="#0"><i class="fa fa-video-camera"></i>Video</a></li>
                </ul>
            </nav>
        </div> <!-- .cd-slider-nav -->
    </section>
     <!-- .cd-hero -->
    <!-- START FEATURE-->
    <section id="about" class="feature section-padding">
        <div class="container">
            <div class="row">

                <div class="section-title text-center wow zoomIn">
                    <h2>About <span>CorecSharp</span></h2>
                    <div></div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 single_about wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <i class="fa fa-tablet"></i>
                    <h4>Expertise</h4>
                    <p>ASP.NET , PHP, WordPress, Android, IOS, Windows.                                   </p>
                </div><!--- END COL -->
                <div class="col-md-3 col-sm-6 col-xs-12 single_about wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                    <i class="fa fa-life-ring"></i>
                    <h4>How We Work</h4>
                    <p> Meet, Plan, Design, Develop, Testing and Launch.                                    </p>
                </div><!--- END COL -->
                <div class="col-md-3 col-sm-6 col-xs-12 single_about wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                    <i class="fa fa-paper-plane-o"></i>
                    <h4>ERP Development</h4>
                    <p>Enterprise Resource Planning is a business process management software.</p>
                </div><!--- END COL -->
                <div class="col-md-3 col-sm-6 col-xs-12 single_about wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                    <i class="fa fa-file-text-o"></i>
                    <h4>Training Institute</h4>
                    <p>Web Designing, PHP, ASP.NET, Desktop apps , Mobile Apps in Android </p>
                </div><!--- END COL -->
            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->
    </section>
    <!-- END FEATURE -->
    <!-- START ABOUT US -->

    <!-- END ABOUT US -->
    <!-- START WHY CHOOSE US -->
    <section class="why_choose_us section-padding">
        <div class="container">
            <div class="row">
                <div class="section-title text-center wow zoomIn">
                    <h2>Why <span>choose</span> us</h2>
                    <div></div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="feature_img">
                        <img src="~/Images/technology.jpg" class="img-responsive" alt="" />
                    </div>
                </div><!--- END COL -->

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div id="why_choose">
                        <!-- Wrapper for slides -->
                        <div class="row ">

                            <div class="col-sm-6">
                                <div class="single_feature">
                                    <i class="fa fa-pencil-square-o"></i>
                                    <h3>unique Ideas</h3>
                                    <span></span>
                                    <p>Our focus is to create unique and impressive idea for your business. </p>
                                </div>
                            </div><!-- END col-sm-6 -->

                            <div class="col-sm-6">
                                <div class="single_feature">
                                    <i class="fa fa-magic"></i>
                                    <h3>Timely delivery</h3>
                                    <span></span>
                                    <p>Our experts make sure the factor 'Time' in order to deliver our services timely. </p>
                                </div>
                            </div><!-- END col-sm-6 -->

                            <div class="col-sm-6">
                                <div class="single_feature">
                                    <i class="fa fa-html5"></i>
                                    <h3>Cost effectiveness</h3>
                                    <span></span>
                                    <p>We know cost matters for a succesful business so we bring you on the right management of costing. </p>
                                </div>
                            </div><!-- END col-sm-6 -->

                            <div class="col-sm-6">
                                <div class="single_feature">
                                    <i class="fa fa-heart-o"></i>
                                    <h3>Modern & Simple</h3>
                                    <span></span>
                                    <p>Simplicity is our essence to express ourselve modern and impressive. </p>
                                </div>
                            </div><!-- END col-sm-6 -->

                        </div><!-- END CAROUSEL INNER -->
                    </div><!-- END CAROUSEL SLIDE -->
                </div><!--- END COL -->


            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->
    </section>
    <!-- END WHY CHOOSE US -->
    <!-- START SERVICE  -->
    <section id="service" class="our_service section-padding">
        <div class="container">
            <div class="row text-center">
                <div class="section-title wow zoomIn">
                    <h2>our <span>service</span></h2>
                    <div></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 no-padding wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <div class="single_service">
                        <i class="fa fa-circle-o-notch"></i>
                        <h4>Consultancy</h4>
                        <p>CORECSHARP, provides professional IT consulting services and solutions that help organizations generate competitive value by leveraging the power of technology. 
                        <br />
                            We offer depth of expertise in multiple industries and our services span a breadth of platforms, devices and networks. We combines consulting skills with high quality technical expertise to help clients achieve the best possible solution to their IT challenges.

                          <p>
                    </div>
                </div><!--END COL -->
                <div class="col-md-4 col-sm-4 col-xs-12 no-padding wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <div class="single_service">
                        <i class="fa fa-keyboard-o"></i>
                        <h4>Web</h4>
                        <p>Web Development, Web Designing, E-Commerce Solutions
                        </p>
                       

                    </div>
                </div><!--END COL -->
                <div class="col-md-4 col-sm-4 col-xs-12 no-padding wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <div class="single_service">
                        <i class="fa fa-bullhorn"></i>
                        <h4>Software QA / Testing</h4>
                        <p>Software QA / Testing of all types of software and apps.</p>
                    </div>
                </div><!--END COL -->
                <div class="col-md-4 col-sm-4 col-xs-12 no-padding wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <div class="single_service">
                        <i class="fa fa-life-bouy"></i>
                        <h4>Applications</h4>
                        <p>CORECSHARP is providing solutions in Android, Ios, Desktop Apps</p>
                    </div>
                </div><!--END COL -->
                <div class="col-md-4 col-sm-4 col-xs-12 no-padding wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <div class="single_service">
                        <i class="fa fa-briefcase"></i>
                        <h4>Enterprise Solutions</h4>
                        <p>All types of enterprise web portals with mobile applications and desktop applications</p>
                    </div>
                </div><!--END COL -->

                <!--END COL -->
            </div><!--END  ROW -->
        </div><!-- END CONTAINER -->
    </section>
    <!-- END SERVICE-->
    <!-- START PORTFOLIO -->
    
    <!-- END PORTFOLIO -->
    <!-- START COUNDOWN -->
    
    <!-- END COUNDOWN -->
    <!-- START OUR TEAM -->
    <section id="team" class="our_team section-padding">
        <div class="container">
            <div class="row text-center">
                <div class="section-title wow zoomIn">
                    <h2>Our <span>Experts</span></h2>
                    <div></div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single_team">
                        <div class="img_wrap">
                            <img src="~/Images/Hussnain.jpg" class="img-responsive" alt="" />
                        </div>

                        <h3>Hussnain Bilal</h3>
                        <p>Co Founder</p>
                        <p>hussnain.bilal@corecsharp.com</p>
                        <span>
                        </span>
                        <ul class="list-inline social_link">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div> <!-- End Col -->
                <div class="col-md-3 col-sm-6">
                    <div class="single_team">
                        <div class="img_wrap">
                            <img src="~/Images/Wajahat.jpg" class="img-responsive" alt="" />
                        </div>
                        <h3>Wajahat Naeem</h3>
                        <p>CEO</p>
                        <p>wajahat.naeem@corecsharp.com</p>
                        <span>
                        </span>
                        <ul class="list-inline social_link">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div> <!-- End Col -->
                <div class="col-md-3 col-sm-6">
                    <div class="single_team">
                        <div class="img_wrap">
                            <img src="~/Images/Ahsan.jpg" class="img-responsive" alt="" />
                        </div>
                        <h3>Fawad Muzzamil</h3>
                        <p>Financials</p>
                        <p><br /></p>
                        <span>
                        </span>
                        <ul class="list-inline social_link">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div> <!-- End Col -->
                <div class="col-md-3 col-sm-6">
                    <div class="single_team">
                        <div class="img_wrap">
                            <img src="~/Images/Shaby.jpg" class="img-responsive" alt="" />
                        </div>
                        <h3>Shahbaz Farooq</h3>
                        <p>Graphic Designer</p>
                        <p><br /></p>
                        <span>
                        </span>
                        <ul class="list-inline social_link">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div> <!-- End Col -->
            </div>
        </div>
    </section>
    <!-- END TEAM -->
    <!-- START NEWSLETTER -->
    
    <!-- END NEWSLETTER -->
    <!-- START PRICING -->
    <section id="pricing" class="pricing_table section-padding">
        <div class="container">
            <div class="row text-center">
                <div class="section-title wow zoomIn">
                    <h2>Ratio <span>Pricing</span></h2>
                    <div></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="pricing-table">

                        <div class="price color-one">
                            <h3>Basic</h3>
                            <h4>Desktop & Web</h4>
                            <div class="price-period">PKR 120,000</div>
                        </div>
                        <ul class="pricing-list">
                            <li><i class="fa fa fa-check"></i>Custom Requirements</li>
                            <li><i class="fa fa fa-check"></i>Static Website</li>
                            <li><i class="fa fa fa-check"></i>Windows based Desktop</li>
                            <li><i class="fa fa fa-check"></i>Template design</li>
                            <li><i class="fa fa fa-check"></i>Secure data</li>
                            <li><i class="fa fa fa-check"></i>24/7 Support</li>
                        </ul>
                        
                    </div><!-- END PRICING TABLE -->
                </div><!-- END COL -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="pricing-table">

                        <div class="price color-two">
                            <h3>Standard</h3>
                            <h4>Web Project</h4>
                            <div class="price-period">PKR 250,000</div>
                        </div>
                        <ul class="pricing-list">
                            <li><i class="fa fa fa-check"></i>Web Portal</li>
                            <li><i class="fa fa fa-check"></i>E-Commerce or Shopping cart</li>
                            <li><i class="fa fa fa-check"></i>Resposive Theme</li>
                            <li><i class="fa fa fa-check"></i>One Month Free Maintainance </li>
                            <li><i class="fa fa fa-check"></i> Secure data</li>
                            <li><i class="fa fa fa-check"></i> 24/7 Support</li>
                        </ul>
                        
                    </div><!-- END PRICING TABLE -->
                </div><!-- END COL -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="pricing-table">
                        <div class="price color-one">
                            <h3>Premium</h3>
                            <h4>Web & Mobile App</h4>
                            <div class="price-period">PKR 400,000</div>
                        </div>
                        <ul class="pricing-list">
                            <li><i class="fa fa fa-check"></i>Web Portal</li>
                            <li><i class="fa fa fa-check"></i>E-Commerce or Shopping cart</li>
                            <li><i class="fa fa fa-check"></i>Android App</li>
                            <li><i class="fa fa fa-check"></i>Three months Free maintainance</li>
                            <li><i class="fa fa fa-check"></i> Secure data</li>
                            <li><i class="fa fa fa-check"></i> 24/7 Support</li>
                        </ul>
                        
                    </div><!-- END PRICING TABLE -->
                </div><!-- END COL  -->
            </div><!--END  ROW  -->
        </div><!-- END CONTAINER  -->
    </section>
    <!-- END PRICING -->
    <!-- Start testimonials -->
    
    <!-- End testimonials -->
    <!-- START COMPANY PARTNER LOGO  -->
    
    <!-- END COMPANY PARTNER LOGO -->
    <!-- START HOME BLOG -->
    
    <!-- END HOME BLOG -->
    <!-- PROMOTION -->
    
    <!-- END PROMOTION -->
    <!-- START CONTACT FORM-->
    <section id="contact" class="contact_area section-padding">
        <div class="container">
            <div class="row">
                <div class="section-title text-center wow zoomIn">
                    <h2>Let Us <span>Call You</span></h2>
                    <div></div>
                </div>
                <div class="col-md-8 col-sm-8 center-block col-xs-12 wow fadeInRight">
                    <div class="contact">
                     
                        <form  action="~/Home/Index" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <input type="text" name="Name" class="form-control"  placeholder="Name" required="required">
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="text" name="Phone" class="form-control" placeholder="Phone Number" required="required">
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="email" name="Email" class="form-control"  placeholder="Email" required="required">
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea rows="6" name="Message" class="form-control"  placeholder="Your Message" required="required"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <div class="actions">
                                        <input type="submit" value="Send message" name="submit"  class="btn btn-lg btn-contact-bg" title="Submit Your Message!" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- END COL -->
            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->
    </section>
    <!-- END CONTACT FORM -->
    <!-- START MAP -->
    <!-- map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwIQh7LGryQdDDi-A603lR8NqiF3R_ycA"></script>
    <script>
			function initialize() {
			  var mapOptions = {
				zoom: 15,

				scrollwheel: false,
				center: new google.maps.LatLng(40.7127837, -74.00594130000002),

			  };
			  var map = new google.maps.Map(document.getElementById('map'),
				  mapOptions);
			  var marker = new google.maps.Marker({
				position: map.getCenter(),
				icon: '~/img/map_pin.png',
				map: map,

			  });

			}
			google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <div id="map"></div>
    <!-- END MAP -->
    <!-- START FOOTER -->
    <footer class="footer section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center wow zoomIn">
                    <div class="footer_content">
                        <div class="col-sm-2 center-block"><a href="#home"><img src="~/img/Logo Red.png" alt="" /></a></div>
                        <div class="footer_social">
                            <ul>
                                <li><a class="f_facebook  wow bounceInDown" href="https://web.facebook.com/CorecSharp"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="f_twitter wow bounceInDown" data-wow-delay=".1s" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="f_google wow bounceInDown" data-wow-delay=".2s" href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="f_linkedin wow bounceInDown" data-wow-delay=".3s" href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="f_youtube wow bounceInDown" data-wow-delay=".4s" href="#"><i class="fa fa-youtube"></i></a></li>
                                <li><a class="f_skype wow bounceInDown" data-wow-delay=".5s" href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                        </div>
                        <p>info@corecsharp.com </p>
                        <p>CorecSharp &copy; 2017 All Rights Reserved.</p>
                    </div>

                </div><!--- END COL -->
            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->
    </footer>
    <!-- END FOOTER -->
    <!-- STYLE SWITCHER -->
    
    <!-- END OF STYLE SWITCHER -->
    <!-- Latest jQuery -->
    <script src="~/scripts/jquery-1.12.4.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="~/scripts/bootstrap.min.js"></script>
    <!-- modernizr JS -->
    <script src="~/scripts/modernizr-2.8.3.min.js"></script>
    <!-- stellar js -->
    <script src="~/scripts/jquery.stellar.min.js"></script>
    <!-- countTo js -->
    <script src="~/scripts/jquery.inview.min.js"></script>
    <!-- owl-carousel min js  -->
    <script src="~/scripts/owl.carousel.min.js"></script>
    <!-- jquery mixitup min js -->
    <script src="~/scripts/jquery.mixitup.js"></script>
    <!-- jquery venobox min js -->
    <script src="~/scripts/venobox.min.js"></script>
    <!-- scrolltopcontrol js -->
    <script src="~/scripts/scrolltopcontrol.js"></script>
    <!-- form-contact js -->
    <script src="~/scripts/form-contact.js"></script>
    <!-- jquery appear js -->
    <script src="~/scripts/jquery.appear.js"></script>
    <!-- WOW - Reveal Animations When You Scroll -->
    <script src="~/scripts/wow.min.js"></script>
    <!-- switcher js -->
    <script src="~/scripts/switcher.js"></script>
    <!-- scripts js -->
    <script src="~/scripts/hero-slider.js"></script>
    <script src="~/scripts/scripts.js"></script>
</body>
</html>